In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

In [2]:
data_input = pd.read_excel('E:\\Graduate_Project\\IEEE ISI World Cup 2019\\competition1\\test\\年报-股东（发起人）及出资信息.xlsx')
display(data_input.head())

,企业编号,股东类型,股东所占比例,认缴出资信息,实缴出资信息,年报年份
0,4001,货币,NaN,认缴出资方式：货币\n认缴出资额（万元）：9431.12万元\n认缴出资日期：2013-05-16,实缴出资方式：货币\n实缴出资额（万元）：9431.12万元\n实缴出资日期：2013-05-16,2013
1,4001,货币,NaN,认缴出资方式：货币\n认缴出资额（万元）：17368.88万元\n认缴出资日期：2013-0...,实缴出资方式：货币\n实缴出资额（万元）：17368.88万元\n实缴出资日期：2013-0...,2013
2,4001,货币,NaN,认缴出资方式：货币\n认缴出资额（万元）：11317.344万元\n认缴出资日期：2014-...,实缴出资方式：货币\n实缴出资额（万元）：11317.344万元\n实缴出资日期：2014-...,2014
3,4001,货币,NaN,认缴出资方式：货币\n认缴出资额（万元）：20842.656万元\n认缴出资日期：2014-...,实缴出资方式：货币\n实缴出资额（万元）：20842.656万元\n实缴出资日期：2014-...,2014
4,4001,货币,NaN,认缴出资方式：货币\n认缴出资额（万元）：23719.1247万元\n认缴出资日期：2015...,实缴出资方式：货币\n实缴出资额（万元）：23719.1247万元\n实缴出资日期：2015...,2015

In [3]:
data_feature = data_input.loc[:,['企业编号', '实缴出资信息']]
display(data_feature.head())

   企业编号                                             实缴出资信息
0  4001  实缴出资方式：货币\n实缴出资额（万元）：9431.12万元\n实缴出资日期：2013-05-16
1  4001  实缴出资方式：货币\n实缴出资额（万元）：17368.88万元\n实缴出资日期：2013-0...
2  4001  实缴出资方式：货币\n实缴出资额（万元）：11317.344万元\n实缴出资日期：2014-...
3  4001  实缴出资方式：货币\n实缴出资额（万元）：20842.656万元\n实缴出资日期：2014-...
4  4001  实缴出资方式：货币\n实缴出资额（万元）：23719.1247万元\n实缴出资日期：2015...

In [4]:
data_feature = pd.concat([data_feature, data_feature['实缴出资信息'].str.split(r'\n', expand=True)], axis=1)
display(data_feature)
# data = data_feature.loc[:, ['企业编号', '1']]
# display(data)

,企业编号,实缴出资信息,0,1,2
0,4001,实缴出资方式：货币\n实缴出资额（万元）：9431.12万元\n实缴出资日期：2013-05-16,实缴出资方式：货币,实缴出资额（万元）：9431.12万元,实缴出资日期：2013-05-16
1,4001,实缴出资方式：货币\n实缴出资额（万元）：17368.88万元\n实缴出资日期：2013-0...,实缴出资方式：货币,实缴出资额（万元）：17368.88万元,实缴出资日期：2013-05-16
2,4001,实缴出资方式：货币\n实缴出资额（万元）：11317.344万元\n实缴出资日期：2014-...,实缴出资方式：货币,实缴出资额（万元）：11317.344万元,实缴出资日期：2014-04-24
3,4001,实缴出资方式：货币\n实缴出资额（万元）：20842.656万元\n实缴出资日期：2014-...,实缴出资方式：货币,实缴出资额（万元）：20842.656万元,实缴出资日期：2014-04-24
4,4001,实缴出资方式：货币\n实缴出资额（万元）：23719.1247万元\n实缴出资日期：2015...,实缴出资方式：货币,实缴出资额（万元）：23719.1247万元,实缴出资日期：2015-09-28
5,4001,实缴出资方式：货币\n实缴出资额（万元）：13259.491万元\n实缴出资日期：2015-...,实缴出资方式：货币,实缴出资额（万元）：13259.491万元,实缴出资日期：2015-09-28
6,4001,实缴出资方式：货币\n实缴出资额（万元）：23719.1247万元\n实缴出资日期：2015...,实缴出资方式：货币,实缴出资额（万元）：23719.1247万元,实缴出资日期：2015-09-28
7,4001,实缴出资方式：货币\n实缴出资额（万元）：13259.491万元\n实缴出资日期：2015-...,实缴出资方式：货币,实缴出资额（万元）：13259.491万元,实缴出资日期：2015-09-28
8,4001,实缴出资方式：货币\n实缴出资额（万元）：23719.1247万元\n实缴出资日期：2015...,实缴出资方式：货币,实缴出资额（万元）：23719.1247万元,实缴出资日期：2015-09-28
9,4001,实缴出资方式：货币\n实缴出资额（万元）：13259.491万元\n实缴出资日期：2015-...,实缴出资方式：货币,实缴出资额（万元）：13259.491万元,实缴出资日期：2015-09-28
10,4002,实缴出资方式：货币\n实缴出资额（万元）：2627.1万元\n实缴出资日期：2015-06-01,实缴出资方式：货币,实缴出资额（万元）：2627.1万元,实缴出资日期：2015-06-01
11,4002,实缴出资方式：货币\n实缴出资额（万元）：1329.7万元\n实缴出资日期：2015-06-01,实缴出资方式：货币,实缴出资额（万元）：1329.7万元,实缴出资日期：2015-06-01
12,4002,实缴出资方式：货币\n实缴出资额（万元）：2952万元\n实缴出资日期：2015-06-01,实缴出资方式：货币,实缴出资额（万元）：2952万元,实缴出资日期：2015-06-01
13,4002,实缴出资方式：货币\n实缴出资额（万元）：1191.9万元\n实缴出资日期：2015-06-01,实缴出资方式：货币,实缴出资额（万元）：1191.9万元,实缴出资日期：2015-06-01
14,4002,实缴出资方式：货币\n实缴出资额（万元）：10856.6778万元\n实缴出资日期：2015...,实缴出资方式：货币,实缴出资额（万元）：10856.6778万元,实缴出资日期：2015-06-01
15,4002,实缴出资方式：货币\n实缴出资额（万元）：3912.3万元\n实缴出资日期：2015-06-01,实缴出资方式：货币,实缴出资额（万元）：3912.3万元,实缴出资日期：2015-06-01
16,4002,实缴出资方式：货币\n实缴出资额（万元）：3231.9万元\n实缴出资日期：2015-06-01,实缴出资方式：货币,实缴出资额（万元）：3231.9万元,实缴出资日期：2015-06-01
17,4002,实缴出资方式：货币\n实缴出资额（万元）：164.9952万元\n实缴出资日期：2014-0...,实缴出资方式：货币,实缴出资额（万元）：164.9952万元,实缴出资日期：2014-07-24
18,4002,实缴出资方式：货币\n实缴出资额（万元）：294.6666万元\n实缴出资日期：2014-0...,实缴出资方式：货币,实缴出资额（万元）：294.6666万元,实缴出资日期：2014-07-24
19,4002,实缴出资方式：货币\n实缴出资额（万元）：2627.1万元\n实缴出资日期：2014-07-24,实缴出资方式：货币,实缴出资额（万元）：2627.1万元,实缴出资日期：2014-07-24
20,4002,实缴出资方式：货币\n实缴出资额（万元）：3402万元\n实缴出资日期：2014-07-24,实缴出资方式：货币,实缴出资额（万元）：3402万元,实缴出资日期：2014-07-24
21,4002,实缴出资方式：货币\n实缴出资额（万元）：3912.3万元\n实缴出资日期：2014-07-24,实缴出资方式：货币,实缴出资额（万元）：3912.3万元,实缴出资日期：2014-07-24
22,4002,实缴出资方式：货币\n实缴出资额（万元）：175.8156万元\n实缴出资日期：2014-0...,实缴出资方式：货币,实缴出资额（万元）：175.8156万元,实缴出资日期：2014-07-24
23,4002,实缴出资方式：货币\n实缴出资额（万元）：3231.9万元\n实缴出资日期：2014-07-24,实缴出资方式：货币,实缴出资额（万元）：3231.9万元,实缴出资日期：2014-07-24
24,4002,实缴出资方式：货币\n实缴出资额（万元）：150.7482万元\n实缴出资日期：2014-0...,实缴出资方式：货币,实缴出资额（万元）：150.7482万元,实缴出资日期：2014-07-24
25,4002,实缴出资方式：货币\n实缴出资额（万元）：1379.7万元\n实缴出资日期：2014-07-24,实缴出资方式：货币,实缴出资额（万元）：1379.7万元,实缴出资日期：2014-07-24
26,4002,实缴出资方式：货币\n实缴出资额（万元）：1341.9万元\n实缴出资日期：2014-07-24,实缴出资方式：货币,实缴出资额（万元）：1341.9万元,实缴出资日期：2014-07-24
27,4002,实缴出资方式：货币\n实缴出资额（万元）：7700.4876万元\n实缴出资日期：2014-...,实缴出资方式：货币,实缴出资额（万元）：7700.4876万元,实缴出资日期：2014-07-24
28,4002,实缴出资方式：货币\n实缴出资额（万元）：440.3868万元\n实缴出资日期：2014-0...,实缴出资方式：货币,实缴出资额（万元）：440.3868万元,实缴出资日期：2014-07-24
29,4002,实缴出资方式：货币\n实缴出资额（万元）：378万元\n实缴出资日期：2014-07-24,实缴出资方式：货币,实缴出资额（万元）：378万元,实缴出资日期：2014-07-24
...,...,...,...,...,...
35568,4525,实缴出资方式：货币\n实缴出资额（万元）：0.01万人民币\n实缴出资日期：1999-01-25,实缴出资方式：货币,实缴出资额（万元）：0.01万人民币,实缴出资日期：1999-01-25
35569,4525,实缴出资方式：货币\n实缴出资额（万元）：31121.59万人民币\n实缴出资日期：2007...,实缴出资方式：货币,实缴出资额（万元）：31121.59万人民币,实缴出资日期：2007-04-06
35570,4525,实缴出资方式：货币\n实缴出资额（万元）：0.01万人民币\n实缴出资日期：2007-04-06,实缴出资方式：货币,实缴出资额（万元）：0.01万人民币,实缴出资日期：2007-04-06
35571,4525,实缴出资方式：货币\n实缴出资额（万元）：0.01万人民币\n实缴出资日期：2007-04-06,实缴出资方式：货币,实缴出资额（万元）：0.01万人民币,实缴出资日期：2007-04-06
35572,4525,实缴出资方式：货币\n实缴出资额（万元）：3878.38万人民币\n实缴出资日期：2007-...,实缴出资方式：货币,实缴出资额（万元）：3878.38万人民币,实缴出资日期：2007-04-06
35573,4525,实缴出资方式：货币\n实缴出资额（万元）：0.01万人民币\n实缴出资日期：2007-04-06,实缴出资方式：货币,实缴出资额（万元）：0.01万人民币,实缴出资日期：2007-04-06
35574,4525,实缴出资方式：货币\n实缴出资额（万元）：1167.4132万人民币\n实缴出资日期：200...,实缴出资方式：货币,实缴出资额（万元）：1167.4132万人民币,实缴出资日期：2001-07-31
35575,4525,实缴出资方式：货币\n实缴出资额（万元）：1167.41万人民币\n实缴出资日期：2001-...,实缴出资方式：货币,实缴出资额（万元）：1167.41万人民币,实缴出资日期：2001-07-31
35576,4525,实缴出资方式：货币\n实缴出资额（万元）：1127.26万人民币\n实缴出资日期：2001-...,实缴出资方式：货币,实缴出资额（万元）：1127.26万人民币,实缴出资日期：2001-07-31
35577,4525,实缴出资方式：货币\n实缴出资额（万元）：745.4921万人民币\n实缴出资日期：2001...,实缴出资方式：货币,实缴出资额（万元）：745.4921万人民币,实缴出资日期：2001-07-31
35578,4525,实缴出资方式：货币\n实缴出资额（万元）：1810.1131万人民币\n实缴出资日期：200...,实缴出资方式：货币,实缴出资额（万元）：1810.1131万人民币,实缴出资日期：2001-07-31
35579,4525,实缴出资方式：货币\n实缴出资额（万元）：1127.2582万人民币\n实缴出资日期：200...,实缴出资方式：货币,实缴出资额（万元）：1127.2582万人民币,实缴出资日期：2001-07-31
35580,4525,实缴出资方式：货币\n实缴出资额（万元）：608.9084万人民币\n实缴出资日期：2001...,实缴出资方式：货币,实缴出资额（万元）：608.9084万人民币,实缴出资日期：2001-07-31
35581,4525,实缴出资方式：货币\n实缴出资额（万元）：31121.5898万人民币\n实缴出资日期：19...,实缴出资方式：货币,实缴出资额（万元）：31121.5898万人民币,实缴出资日期：1999-01-25
35582,4525,实缴出资方式：货币\n实缴出资额（万元）：3878.3802万人民币\n实缴出资日期：199...,实缴出资方式：货币,实缴出资额（万元）：3878.3802万人民币,实缴出资日期：1999-01-25
35583,4525,实缴出资方式：货币\n实缴出资额（万元）：608.91万人民币\n实缴出资日期：2001-0...,实缴出资方式：货币,实缴出资额（万元）：608.91万人民币,实缴出资日期：2001-07-31
35584,4525,实缴出资方式：货币\n实缴出资额（万元）：2188.1819万人民币\n实缴出资日期：201...,实缴出资方式：货币,实缴出资额（万元）：2188.1819万人民币,实缴出资日期：2016-08-04
35585,4525,实缴出资方式：货币\n实缴出资额（万元）：35353.8831万人民币\n实缴出资日期：20...,实缴出资方式：货币,实缴出资额（万元）：35353.8831万人民币,实缴出资日期：2016-08-04
35586,4525,实缴出资方式：货币\n实缴出资额（万元）：3878.3802万人民币\n实缴出资日期：201...,实缴出资方式：货币,实缴出资额（万元）：3878.3802万人民币,实缴出资日期：2016-08-04
35587,4525,实缴出资方式：货币\n实缴出资额（万元）：520.6593万人民币\n实缴出资日期：2016...,实缴出资方式：货币,实缴出资额（万元）：520.6593万人民币,实缴出资日期：2016-08-04
35588,4525,实缴出资方式：货币\n实缴出资额（万元）：6957.2341万人民币\n实缴出资日期：201...,实缴出资方式：货币,实缴出资额（万元）：6957.2341万人民币,实缴出资日期：2016-08-04
35589,4525,实缴出资方式：货币\n实缴出资额（万元）：1354.8105万人民币\n实缴出资日期：201...,实缴出资方式：货币,实缴出资额（万元）：1354.8105万人民币,实缴出资日期：2016-08-04
35590,4525,实缴出资方式：货币\n实缴出资额（万元）：2507.447万人民币\n实缴出资日期：2016...,实缴出资方式：货币,实缴出资额（万元）：2507.447万人民币,实缴出资日期：2016-08-04
35591,4525,实缴出资方式：货币\n实缴出资额（万元）：32098.0094万人民币\n实缴出资日期：20...,实缴出资方式：货币,实缴出资额（万元）：32098.0094万人民币,实缴出资日期：2016-08-04
35592,4525,实缴出资方式：货币\n实缴出资额（万元）：2322.0335万人民币\n实缴出资日期：201...,实缴出资方式：货币,实缴出资额（万元）：2322.0335万人民币,实缴出资日期：2016-08-04
35593,4525,实缴出资方式：货币\n实缴出资额（万元）：416.8487万人民币\n实缴出资日期：2016...,实缴出资方式：货币,实缴出资额（万元）：416.8487万人民币,实缴出资日期：2016-08-04
35594,4525,实缴出资方式：货币\n实缴出资额（万元）：5459.5139万人民币\n实缴出资日期：201...,实缴出资方式：货币,实缴出资额（万元）：5459.5139万人民币,实缴出资日期：2016-08-04
35595,4525,实缴出资方式：货币\n实缴出资额（万元）：4733.646万人民币\n实缴出资日期：2016...,实缴出资方式：货币,实缴出资额（万元）：4733.646万人民币,实缴出资日期：2016-08-04
35596,4525,实缴出资方式：货币\n实缴出资额（万元）：7098.7583万人民币\n实缴出资日期：201...,实缴出资方式：货币,实缴出资额（万元）：7098.7583万人民币,实缴出资日期：2016-08-04
35597,4525,实缴出资方式：货币\n实缴出资额（万元）：4519.7207万人民币\n实缴出资日期：201...,实缴出资方式：货币,实缴出资额（万元）：4519.7207万人民币,实缴出资日期：2016-08-04

In [5]:
data = data_feature.loc[:, ['企业编号', 1]]
data.rename(columns={1: '实缴出资额'}, inplace=True)
display(data)

       企业编号                     实缴出资额
0      4001       实缴出资额（万元）：9431.12万元
1      4001      实缴出资额（万元）：17368.88万元
2      4001     实缴出资额（万元）：11317.344万元
3      4001     实缴出资额（万元）：20842.656万元
4      4001    实缴出资额（万元）：23719.1247万元
5      4001     实缴出资额（万元）：13259.491万元
6      4001    实缴出资额（万元）：23719.1247万元
7      4001     实缴出资额（万元）：13259.491万元
8      4001    实缴出资额（万元）：23719.1247万元
9      4001     实缴出资额（万元）：13259.491万元
10     4002        实缴出资额（万元）：2627.1万元
11     4002        实缴出资额（万元）：1329.7万元
12     4002          实缴出资额（万元）：2952万元
13     4002        实缴出资额（万元）：1191.9万元
14     4002    实缴出资额（万元）：10856.6778万元
15     4002        实缴出资额（万元）：3912.3万元
16     4002        实缴出资额（万元）：3231.9万元
17     4002      实缴出资额（万元）：164.9952万元
18     4002      实缴出资额（万元）：294.6666万元
19     4002        实缴出资额（万元）：2627.1万元
20     4002          实缴出资额（万元）：3402万元
21     4002        实缴出资额（万元）：3912.3万元
22     4002      实缴出资额（万元）：175.8156万元
23     4002        实缴出资额（万元）：3231.9万元
24     4002      实缴出资额（万元）：150.7482万元
25     4002        实缴出资额（万元）：1379.7万元
26     4002        实缴出资额（万元）：1341.9万元
27     4002     实缴出资额（万元）：7700.4876万元
28     4002      实缴出资额（万元）：440.3868万元
29     4002           实缴出资额（万元）：378万元
...     ...                       ...
35568  4525        实缴出资额（万元）：0.01万人民币
35569  4525    实缴出资额（万元）：31121.59万人民币
35570  4525        实缴出资额（万元）：0.01万人民币
35571  4525        实缴出资额（万元）：0.01万人民币
35572  4525     实缴出资额（万元）：3878.38万人民币
35573  4525        实缴出资额（万元）：0.01万人民币
35574  4525   实缴出资额（万元）：1167.4132万人民币
35575  4525     实缴出资额（万元）：1167.41万人民币
35576  4525     实缴出资额（万元）：1127.26万人民币
35577  4525    实缴出资额（万元）：745.4921万人民币
35578  4525   实缴出资额（万元）：1810.1131万人民币
35579  4525   实缴出资额（万元）：1127.2582万人民币
35580  4525    实缴出资额（万元）：608.9084万人民币
35581  4525  实缴出资额（万元）：31121.5898万人民币
35582  4525   实缴出资额（万元）：3878.3802万人民币
35583  4525      实缴出资额（万元）：608.91万人民币
35584  4525   实缴出资额（万元）：2188.1819万人民币
35585  4525  实缴出资额（万元）：35353.8831万人民币
35586  4525   实缴出资额（万元）：3878.3802万人民币
35587  4525    实缴出资额（万元）：520.6593万人民币
35588  4525   实缴出资额（万元）：6957.2341万人民币
35589  4525   实缴出资额（万元）：1354.8105万人民币
35590  4525    实缴出资额（万元）：2507.447万人民币
35591  4525  实缴出资额（万元）：32098.0094万人民币
35592  4525   实缴出资额（万元）：2322.0335万人民币
35593  4525    实缴出资额（万元）：416.8487万人民币
35594  4525   实缴出资额（万元）：5459.5139万人民币
35595  4525    实缴出资额（万元）：4733.646万人民币
35596  4525   实缴出资额（万元）：7098.7583万人民币
35597  4525   实缴出资额（万元）：4519.7207万人民币

[35598 rows x 2 columns]

In [6]:
data['实缴出资额'] = data['实缴出资额'].str.extract(r'(\d+)', expand=True)
data['实缴出资额'] = pd.DataFrame(data['实缴出资额'], dtype=np.float)
data['实缴出资额']

0         9431.0
1        17368.0
2        11317.0
3        20842.0
4        23719.0
5        13259.0
6        23719.0
7        13259.0
8        23719.0
9        13259.0
10        2627.0
11        1329.0
12        2952.0
13        1191.0
14       10856.0
15        3912.0
16        3231.0
17         164.0
18         294.0
19        2627.0
20        3402.0
21        3912.0
22         175.0
23        3231.0
24         150.0
25        1379.0
26        1341.0
27        7700.0
28         440.0
29         378.0
          ...
35568        0.0
35569    31121.0
35570        0.0
35571        0.0
35572     3878.0
35573        0.0
35574     1167.0
35575     1167.0
35576     1127.0
35577      745.0
35578     1810.0
35579     1127.0
35580      608.0
35581    31121.0
35582     3878.0
35583      608.0
35584     2188.0
35585    35353.0
35586     3878.0
35587      520.0
35588     6957.0
35589     1354.0
35590     2507.0
35591    32098.0
35592     2322.0
35593      416.0
35594     5459.0
35595     4733.0
35596     7098.0
35597     4519.0
Name: 实缴出资额, Length: 35598, dtype: float64

In [7]:
data = data.groupby('企业编号').mean()

In [8]:
data = data.reset_index()

In [9]:
data.head()

   企业编号         实缴出资额
0  4001  16989.200000
1  4002   3548.657895
2  4003    443.510753
3  4004  13431.700000
4  4005   8848.000000

In [11]:
data_out = pd.read_excel('E:\\Graduate_Project\\IEEE ISI World Cup 2019\\competition1\\赛题1结果_团队名.xlsx')
data_out = pd.merge(data_out, data, how='left')
data_out.head()

   企业编号         实缴出资额
0  4001  16989.200000
1  4002   3548.657895
2  4003    443.510753
3  4004  13431.700000
4  4005   8848.000000

In [12]:
data_out.isna().sum()

企业编号     0
实缴出资额    9
dtype: int64

In [13]:
data_out.fillna(data_out.median(), inplace=True)
data_out.isna().sum()

企业编号     0
实缴出资额    0
dtype: int64

In [14]:
data_out.head()

   企业编号         实缴出资额
0  4001  16989.200000
1  4002   3548.657895
2  4003    443.510753
3  4004  13431.700000
4  4005   8848.000000

In [15]:
data_out.to_excel('年报-股东（发起人）及出资信息.xlsx', index=False)